<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Inicio de Sesión</title>
    <link href="../../static/css/bootstrap-grid.min.css">
    <link href="../../static/css/bootstrap.min.css">
    <script src="../../static/scripts/bootstrap.min.js"></script>
    <script src="../../static/scripts/jquery-3.6.0.min.js" ></script>
    <script src="../../static/scripts/popper.min.js"></script>
    </head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-5">
        <div class="container-fluid">

               
            <ul class="navbar-nav  ">
                <li class="nav-item active centrado">
                  <a class="nav-link " href="#">Tramites</a>
                </li>

                <li class="nav-item active centrado">
                  <a class="nav-link " href="#">Gobierno</a>
                </li>
                
                <li class="nav-item active centrado">
                <i class="bi bi-search" href="#"></i>
                </li>
            </ul>
            
          </div>
      </nav>
    <div class="row">
		
		    <div class="col-md-3"></div>		   
		    <div class="col-md-6">
		    <div th:if="*{error !=null}" class="alert alert-warning alert-dismissible fade show" role="alert">
            <button type="button" class="btn-close" data-bs-dismiss="alert" label="Close">&times;</button>
            
            </div>         
		       	<form action="#" th:action="@{agregar}" th:object="${usuario}" method="post">
                    <fieldset>
                        <legend>Registro de Usuarios</legend>
                        
                        <label for="rfc" class="form-label">Correo Electronico</label>
                        <input type="text" required="required" th:value="*{rfc}" name="rfc" class="form-control" placeholder="sat@gmail.com">
                        <br />
                        
                        <label for="inputPassword5" class="form-label">Password</label>
                        <input type="password" required="required" name="contrasena" class="form-control" aria-describedby="passwordHelpBlock" placeholder="12345">
                        <br> <br>

                        <p style="text-align: center;">
                            <input type="submit" class=" btn btn-primary" value="Agregar" />
                        </p>
                    </fieldset>
                </form>               
           
		    <div class="col-md-3"></div>
		</div>

            </div>
            <hr class="my-4">
            <div>
      <div class="barra">
    </div>

    <footer id="footer">
    </footer>
</body>
</html>